*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
html,
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
ul, li {
	list-style: none;
}
.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

/* header start */

.header {
	padding-top: 15px;
	padding-bottom: 60px;
	position: relative;
}
.header__bg {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
.header__bg video{
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.header__bg::after {
	content: '';
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}
.header__wrapper {
	position: relative;
	z-index: 3;
}
.header__title, .footer__title {
	color: orange;
	font-weight: 500;
	font-size: 64px;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 30px;
}
.header__title span, .footer__title span {
	color: purple;
}
.header__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.header__item-1 {
	max-width: 50%;
	width: 100%;
	padding-top: 39%;
	position: relative;
}
.header__item-1 img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center top;
	   object-position: center top;
}
.header__item-2 {
	max-width: calc(50% - 30px);
	width: 100%;
	margin-left: 30px;
}
.header__item-list {
	font-size: 20px;
}
.header__item-list li {
	position: relative;
	line-height: 24px;
	padding-left: 20px;
	color: #fff;
}
.header__item-list li::before {
	content: '';
	width: 9px;
	height: 9px;
	position: absolute;
	background-color: purple;
	top: 5px;
	left: 0;
	border-radius: 50%;
}
.header__item-list li + li {
	margin-top: 20px;
}
.form-btn {
	margin-top: 60px;
	text-align: center;
}
.form-btn button{
	background-color: purple;
	border-radius: 20px;
	padding: 10px 25px;
	text-transform: uppercase;
	color: #fff;
	font-size: 24px;
	cursor: pointer;
	-webkit-animation-name: formbtn;
	        animation-name: formbtn;
	-webkit-animation-duration: 2s;
	        animation-duration: 2s;
	-webkit-animation-direction: alternate;
	        animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}

/* header end */

/* product start */

.product {
	padding: 60px 0;
	background: -o-linear-gradient(9deg, #ddb35f, #7409c7);
	background: linear-gradient(81deg, #ddb35f, #7409c7);
}
.product__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: -30px;
}
.product__item {
	max-width: calc(33.333% - 30px);
	width: 100%;
	margin-left: 30px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.product__item-2 {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.product__item-2 img {
	width: 100%;
	height: 50%;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}
.product__line {
	height: 2px;
	width: 100px;
	background-color: orange;
	position: absolute;
}
.line-1, .line-2, .line-3 {
	left: -80px;
}
.line-4, .line-5, .line-6 {
	right: -80px;
}
.line-1 {
	top: 160px;
	-webkit-transform: rotate(40deg);
	    -ms-transform: rotate(40deg);
	        transform: rotate(40deg);
}
.line-2 {
	top: 50%;
}
.line-3 {
	bottom: 160px;
	-webkit-transform: rotate(-40deg);
	    -ms-transform: rotate(-40deg);
	        transform: rotate(-40deg);
}
.line-4 {
	top: 160px;
	-webkit-transform: rotate(-40deg);
	    -ms-transform: rotate(-40deg);
	        transform: rotate(-40deg);
}
.line-5 {
	top: 50%;
}
.line-6 {
	bottom: 160px;
	-webkit-transform: rotate(40deg);
	    -ms-transform: rotate(40deg);
	        transform: rotate(40deg);
}
.product__items {
	padding: 15px;
	text-align: center;
	color: #fff;
	font-size: 18px;
}
.product__items + .product__items {
	margin-top: 20px;
}
.product__items-img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
}
.product__items-img img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
}
.product__items-name {
	margin-top: 20px;
}

/* product end */

/* feedback start */

.feedback {
	padding: 60px 0;
	background: -webkit-gradient(linear, left top, right top, from(#f598a8), to(#f6edb2));
	background: -o-linear-gradient(left, #f598a8, #f6edb2);
	background: linear-gradient(90deg, #f598a8, #f6edb2);
}
.swiper {
  width: 100%;
  padding-bottom: 45px;
}
.swiper-slide__photo {
	height: 150px;
	width: 150px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
}
.swiper-slide__photo img {
	width: 100%;
	height: 100%;
	-o-object-position: center;
	   object-position: center;
}
.swiper-slide__name {
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
	margin: 20px 0;
	font-weight: 500;
}
.swiper-slide__feedback {
	color: #fff;
	font-size: 18px;
}

/* feedback end */

/* promo start */

.promo {
	background: -webkit-gradient(linear, left top, right top, from(#800080), to(#ffc0cb));
	background: -o-linear-gradient(left, #800080, #ffc0cb);
	background: linear-gradient(to right, #800080, #ffc0cb);
	padding: 60px 0;
}
.promo__box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.promo__box-left {
	max-width: 50%;
	width: 100%;
}
.promo__box-left img {
	width: 100%;
	height: auto;
}
.promo__box-right {
	margin-left: 20px;
	max-width: 50%;
	width: 100%;
	color: #fff;
	font-size: 20px;
}
.promo__list {
	margin-top: 40px;
}
.promo__list ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-size: 24px;
	color: #fff;
}
.promo__list ul li + li {
	margin-left: 20px;
}

/* promo end */

/* footer start */

.footer {
	padding-top: 15px;
	padding-bottom: 60px;
	background: -webkit-gradient(linear, left top, right top, from(#20002c), to(#cbb4d4));
	background: -o-linear-gradient(left, #20002c, #cbb4d4);
	background: linear-gradient(to right, #20002c, #cbb4d4);
}
.countdown {
  color: #fff;
  display: block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}
.countdown-number {
  padding: 10px;
  border-radius: 3px;
  background: #00bf96;
  display: inline-block;
}
.countdown-time {
  padding: 15px;
  border-radius: 3px;
  background: #00816a;
  display: inline-block;
}
.countdown-text {
  display: block;
  padding-top: 5px;
  font-size: 16px;
}
.footer__box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: -20px;
}
.footer__box-left, .footer__box-right {
	max-width: calc(50% - 20px);
	width: 100%;
	margin-left: 20px;
}
.footer__product {
	height: 250px;
	text-align: center;	
}
.footer__product img {
	height: 100%;
}
.footer__price {
	text-align: center;
	margin-top: 30px;
	color: #fff;
}
.footer__price .old__price {
	text-decoration: line-through;
	font-size: 24px;
	display: inline-block;
}
.footer__price .new__price {
	color: red;
	display: inline-block;
	font-size: 56px;
	-webkit-animation-name: newprice;
	        animation-name: newprice;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-direction: alternate;
	        animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}
.footer__box-right {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	padding: 20px;
	-webkit-box-shadow: 3px 3px 15px #000;
	        box-shadow: 3px 3px 15px #000;
}
.form .form__input {
	display: block;
	background-color: transparent;
	border: 2px solid purple;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	margin-bottom: 20px;
	position: relative;
}
.form .form__input input {
	background-color: transparent;
	width: 100%;
	outline: none;
}
.form label {
	position: absolute;
	right: 10px;
	top: 5px;
	opacity: 0;
}
.form .form__input > input:focus {
	margin-top: 15px;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.form .form__input > input:focus + label {
	opacity: 1;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.form button {
	margin: 0 auto;
	display: block;
	font-size: 24px;
	padding: 10px 25px;
	border-radius: 20px;
	background-color: purple;
	text-transform: uppercase;
	cursor: pointer;
}

/* footer end */


/* animation */

@-webkit-keyframes formbtn {
	from {
		-webkit-transform: scale(1.0);
		        transform: scale(1.0);
	}
	to {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}
}

@keyframes formbtn {
	from {
		-webkit-transform: scale(1.0);
		        transform: scale(1.0);
	}
	to {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}
}
@-webkit-keyframes newprice {
	from {
		-webkit-transform: rotate(5deg);
		        transform: rotate(5deg);
	}
	to {
		-webkit-transform: rotate(-5deg);
		        transform: rotate(-5deg);
	}
}
@keyframes newprice {
	from {
		-webkit-transform: rotate(5deg);
		        transform: rotate(5deg);
	}
	to {
		-webkit-transform: rotate(-5deg);
		        transform: rotate(-5deg);
	}
}